.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-bg {
  width: 100%;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
}

.nav-style {
  color: blue;
  font-size: 34px;
}

.btn {
  background-color: blue;
  color: white;
  height: 48px;
  width: 132px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 151px;
  width: 1140px;
  margin: 0 auto 158px;
}

.box {
  width: 905px;
  height: 237px;
  text-align: center;
  margin: 0 auto;
}

.front-head {
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 37px;
}

.btn2 {
  width: 174px;
  height: 48px;
  background-color: blue;
  color: white;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.snd-part{
width:1140px;
height: 328px;
display: flex;
justify-content: space-between;
    margin: 116px 159px 814px 141px;
    align-items: center;


}
.para-2{

    font-weight: bold;
    font-size: 42px;
}
.btn3{

width: 229px;
height: 28px;
background-color: blue;
color: white;
border-radius: 10px;
font-weight: bold;
}
p{

font-size: 24px;
font-weight: normal;
}